/* This is just an example.  You shouldn't do this. */
#l2306helper-hello
{
}
#l2306helper-toolbar-button
{
  list-style-image: url("chrome://l2306helper/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#l2306helper-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #l2306helper-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #l2306helper-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}